<div class="card-product">
  <div class="card-product-infos">
    <div class="card-product-content d-flex">
      <div class="card-product-details">
        <h2><%= @cocktail.name %></h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
      <div class="card-product-ingredients">
        <% @cocktail.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
        <% end %>
        <% @cocktail.doses.each do |dose| %>
        <%= dose.description %>
        <% end %>
      </div>
    </div>
    <div class="link-container">
      <%= link_to "Edit cocktail", edit_cocktail_path %>
      <%= link_to "Back to the cocktails' list", cocktails_path %>
      <%= link_to 'Delete cocktail', cocktail_path(@cocktail), method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </div>
    <p><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %></p>
  </div>
</div>
<p></p>
<p></p>
<p> ,  { :class=>"text-danger" }</p>



